<!DOCTYPE html>
<html>
<title>Pokedex</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../css/w3.css">
<body class="w3-dark-gray">

<header class="w3-mobile w3-container w3-red">
    <div class="w3-col s2 m2 l2 w3-left">
        <img class="w3-image" src="../images/logo.png" alt="pokedex" style="max-width: 4em">
    </div>
    <div class="w3-col s8 m8 l8 w3-center">
        <h2>Pokedex</h2>
    </div>
    <div class="w3-col s2 m2 l2 w3-right-align">
        <a href="/useCases/LogoutUseCase.php"><p>Logout</p></a>
    </div>
</header>

<div class="w3-container w3-half w3-margin-top w3-display-middle">
    <h2>Error</h2>
    <a href="../Login.php">Back to login</a>
</div>
</body>
</html>